body {
    background-image: linear-gradient(#FFFFFf, #90C7E3);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    height: 120px; 
    padding-top: 30px;
    padding-left: 3em;
    line-height: 400%;
    text-indent: 1em;
}

nav {
    font-weight: bold;
    padding: 1.5em;
    font-size: 120%;
    text-align: center; 
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

h1 {
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.25em;
}

h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
}

h3 {
    color: #000066;
    font-family: Georgia, "Times New Roman", serif;
}

dt {
    color: #000033;
}

main ul {

    margin-left: 20px;
    list-style-image: url(marker.gif);
}
 

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    background-color: #FFFFFF;

}

.resort {
    color: #3399CC;
    font-weight: bold;
}

div p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

main{
    background-color: #FFFFFF;
    padding-left: 30px;
    margin-top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
 }
 nav a:link { 
    color: #344873;
    text-decoration: none;
 }
nav a:visited {
    color: #5C7FA3;
}
nav a:hover {
    color: #A52A2A;
}
#homehero {
    height: 300px;
    background-image: url('coast.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    margin-bottom: 0;
  }
  #yurthero {
    height: 300px;
    background-image: url('yurt.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
  }
  #trailhero {
    height: 300px;
    background-image: url('trail.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  table {
    border: 3px solid #3399CC;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.5em;
    border: 1px solid #3399CC;
  }
  
  td {
    text-align: center;
  }

label {
    float: left; 
    display: block; 
    text-align: right;
    width : 120px; 
    padding-right: 10px;
}
input,
textarea {
  display: block;
  margin-bottom: 0.5em;
}
@media (min-width: 1024px) {
  video{float: right; padding-left: 20px;}
  nav ul {display: flex; flex-flow: column; padding-top: 1em;}
  nav{text-align: left; padding-left: 1em;}
  #wrapper{margin: auto; width: 80%; border: 1px solid #000033; box-shadow: 1px 1px #000033; display:grid;  grid-template-columns: 180px auto;
    grid-template-rows: auto;}
    header {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    nav {
        grid-column: 1;
        grid-row: 2 / 3;
    }

    div {
        grid-column: 2;
        grid-row: 2;
    }

    main {
        grid-column: 2;
        grid-row: 3;
    }

    footer {
        grid-column: 1 / 3;
        grid-row: 4;
    }
}
